* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

li {
  list-style: none;
}

.admin-dashboard {
  display: flex;
}

.side-menu {
  background-color: #a41646;
  width: 40vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.admin-menu {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-menu h1 {
  font-size: 28px;
}

.side-menu li {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px 0;
  padding: 8px 20px;
}

.side-menu li:hover {
  background-color: #f1f1f1;
  color: #a41646;
  cursor: pointer;
}

.main-menu {
  display: flex;
  flex-direction: column;
  right: 0;
  width: 80vw;
  height: 100vh;
}

.header {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.search {
  flex: 2.5;
  display: flex;
  justify-content: center;
  outline: none;
  border-radius: 16px;
  border: 2px solid pink;
}

.search input[type="text"] {
  border: none;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  outline: none;
  border-radius: 25px;
  margin-left: 10px;
}

.search.fa-solid {
  cursor: pointer;
}

.user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.add-new-btn {
  background-color: #a41646;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.add-new-btn:hover {
  background-color: white;
  color: #a41646;
}

.content {
  position: relative;
  min-height: 90vh;
}

.content-2 {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.events-table {
  min-height: 50vh;
  margin: 75px 25px 25px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid white;
}

.title h2 {
  font-size: 24px;
}

.events-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  color: white;
  background-color: #a41646;
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
}

td:first-child {
  font-weight: bold;
}
