* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

li {
  list-style: none;
}

.side-menu {
  position: fixed;
  background-color: #a41646;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.general {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general h1 {
  font-size: 28px;
}

.side-menu li {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px 0;
  padding: 8px 20px;
}

.side-menu li:hover {
  background-color: #f1f1f1;
  color: #a41646;
  cursor: pointer;
}

.container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.search {
  flex: 2.5;
  display: flex;
  justify-content: center;
  outline: none;
  border-radius: 16px;
  border: 2px solid pink;
}

.search input[type="text"] {
  border: none;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  outline: none;
  border-radius: 25px;
  margin-left: 10px;
}

.search.fa-solid {
  cursor: pointer;
}

.user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.add-new-btn {
  background-color: #a41646;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.add-new-btn:hover {
  background-color: white;
  color: #a41646;
}
