* {
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0;
}

.event-details {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
}

.event-details h1 {
  margin-top: 100px;
  color: #a41646;

  /* text-decoration: underline; */
  font-weight: 250px;
  margin-bottom: 5px;
}

.event-details h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: oblique;
  font-size: 18px;
  color: rgb(87, 29, 38);
}

.event-details p {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.image-container {
  width: 50%;
  margin: auto;
  height: 100;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ticket-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #ffc0cb;
  width: 80%;
  margin-bottom: 0px;
}

.ticket-section h2 {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid #ffc0cb;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.ticket-details {
  display: flex;
}

.ticket-details p {
  font-size: 20px;
}

#name {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 200px;
  text-transform: capitalize;
}

.counter {
  display: flex;
  justify-content: flex-end;
}

.counter p {
  padding-right: 10px;
}

.ticket-section button {
  width: 40%;
  border-radius: 25px;
  font-size: 20px;
  margin-left: 300px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: none;
}

.ticket-section button:hover {
  background-color: brown;
  cursor: pointer;
}

@media (max-width: 767px) {
  .event-details {
    width: 90%;
    margin: auto;
  }

  .image-container {
    width: 100%;
  }

  .ticket-details {
    flex-direction: column;
    align-items: center;
  }

  #name {
    padding-right: 0;
    margin-bottom: 10px;
  }

  .counter {
    justify-content: center;
  }

  .ticket-section button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
