* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4e3e6;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 50px;
}

.form-container h2 {
  margin-bottom: 10px;
  font-size: 30px;
  padding: 0px;
}

.event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 48px;
  text-align: center;
  padding: 40px;
  width: 800px;
}

.form-inputs {
  margin-bottom: 20px;
  width: 90%;
}

.form-inputs label {
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;
  width: 150px;
}

.form-inputs input,
#event-category {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
  background-color: #fff;
}

.form-inputs select option {
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

.event-submit-btn {
  background-color: #a41646;
  color: white;
  width: 90%;
  font-size: 18px;
  padding: 15px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.event-submit-btn:hover {
  background-color: #a41646;
  color: white;
}
