body {
  margin: 0;
}

h3,
h2,
h1 {
  color: white;
}

.home {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-bar h3 {
  margin: 0 10px;
}

.login-search {
  display: flex;
  align-items: center;
}

.login-search h3 {
  margin: 0 10px;
}

.center-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
  /* justify-content: center; */
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

/* Style the h2 element */
.caption h2 {
  font-size: 18px;
  margin-top: 0px;
}

.class-button button {
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.class-button button:hover {
  background-color: white;
}
