* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}

h3,
h2,
h1 {
  color: white;
}

.home {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.navbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.logo {
  text-align: center;
  padding: 20px;
}

.logo img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-bar h3 {
  margin: 0 10px;
  position: relative;
}

.login-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-solid {
  color: white;
  border-right: 1px solid pink;
  padding-left: 20px;
  padding-right: 20px;
}

.center-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption h1 {
  font-size: 55px;
  margin-bottom: 0px;
}

.caption h2 {
  font-size: 14px;
  margin-top: 10px;
}

.class-button button {
  border-radius: 20px;
  padding: 12px 25px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 15px;
  background-color: pink;
}

.class-button button:hover {
  background-color: white;
}

.events-gallery {
  margin-top: 100px;
}

.events-gallery h3 {
  text-align: center;
  margin-top: 0;
  color: rgb(76, 2, 14);
  font-size: 20px;
  text-decoration: underline;
}

.events {
  padding: 100px 0;
}

.upcoming-events {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upcoming-events div {
  text-align: center;
  padding: 16px;
  width: 25%;
}

.upcoming-events p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.upcoming-events img {
  width: 100%;
}

/* Mobile styles (up to 768px) */
@media (max-width: 768px) {
  .home {
    height: auto;
  }

  .navbar-contents {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar {
    margin-top: 10px;
  }

  .nav-bar h3 {
    margin: 10px 0;
    position: relative;
  }

  .login-search {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }

  .login-search .fa-solid {
    padding: 10px;
  }
}
.center-contents {
  margin-top: 200px;
}

.caption h1 {
  font-size: 30px;
}

.caption h2 {
  font-size: 12px;
}

.class-button button {
  font-size: 13px;
}

.upcoming-events div {
  width: 50%;
}

/* Laptop styles (from 769px and above) */
@media (min-width: 769px) {
  .home {
    height: 800px;
  }

  .navbar-contents {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  .nav-bar {
    margin-top: 0;
  }

  .nav-bar h3 {
    margin: 0 10px;
    position: relative;
  }

  .login-search {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
  }

  .login-search .fa-solid {
    padding: 20px;
  }

  .center-contents {
    margin-top: 400px;
  }

  .caption h1 {
    font-size: 55px;
  }

  .caption h2 {
    font-size: 14px;
  }

  .class-button button {
    font-size: 15px;
  }

  .upcoming-events div {
    width: 25%;
  }
}
