body {
  font-family: "Roboto", sans-serif;
  background-color: #f4e3e6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.headers-container {
  display: flex;
}

.headers-container h2 {
  margin-right: 30px;
  font-size: 40px;
  margin-bottom: 35px;
  cursor: pointer;
}

.headers-container h2:hover {
  text-decoration: underline;
  color: #a41646;
}

.login-container {
  padding: 40px;
  width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
}

.remember-me {
  display: flex;
}

.remember-me input {
  margin-right: 5px;
  margin-bottom: 50px;
}

.submit-btn {
  background-color: #a41646;
  width: 105%;
  font-size: 18px;
  color: #fff;
  padding: 15px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #f55195;
  color: white;
}

.password-recovery {
  text-align: center;
  margin-top: 15px;
}

.password-recovery a {
  color: #a41646;
  text-decoration: none;
}

/* Media query for screens below 768px (mobile devices) */
@media (max-width: 767px) {
  .login-container {
    width: 90%;
    padding: 20px;
  }

  .headers-container h2 {
    font-size: 30px;
  }

  .form-group input {
    font-size: 16px;
  }

  .remember-me input {
    margin-bottom: 20px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 12px;
  }

  .password-recovery {
    margin-top: 10px;
  }
}

/* Media query for screens min-width: 768px (tablets and above) */
@media (min-width: 768px) {
  .login-container {
    width: 500px;
  }
}
