body {
  font-family: "Roboto", sans-serif;
  background-color: #f4e3e6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.headers-container {
  display: flex;
}

.headers-container h2 {
  margin-right: 30px;
  font-size: 40px;
  margin-bottom: 35px;
  cursor: pointer;
}

.headers-container h2:hover {
  text-decoration: underline;
  color: #a41646;
}

.signup-container {
  padding: 40px;
  width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
}

.submit-btn {
  background-color: #a41646;
  width: 105%;
  font-size: 18px;
  color: #fff;
  padding: 15px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 50px;
}

.submit-btn:hover {
  background-color: #f55195;
  color: white;
}
